@charset "UTF-8";

html,
html *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    padding: 32px;
}

h1{text-wrap-style: balance;}
.mawarikomi{max-width: 50%;display:block;margin-left: auto;margin-right: auto;}

.style-nav ul {
    list-style-type: none;
}

.style-nav ul li a {
    text-decoration: none;
    color: white;
    text-align: center;
    display: block;
    text-transform: uppercase;
    padding: 8px;
    background-color: #98AE00;
}

.style-nav li a:hover{
    background-color: white;
    color: #98AE00;
}

footer{
    color: white;
    background-color: darkgreen;
}

.timeline{
    max-width: 40%;
    border: 1px solid #333;
    padding: 10px;
}
@media(min-width: 768px){
    .style-nav ul li{
        display: inline-block;
    }
    .style-nav ul{
        text-align: center;
    }
}

@media(min-width: 1024px){
    .style-h1{
        float: left;
    }
    .style-nav{
        float: right;
    }
    .mawarikomi{
        float: left;
    }
    footer{
        clear: both;
    }
    /* .timeline{
        float: ;
    } */
}

